@page
@model E_Commerce.Pages.Shop.ShoppingModel

@{
    Layout = "_HomePage";
    int counter = 0;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Shopping</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Whole Lot</h1>
    <div class="container">
        <div class="row" id="shopping_product_row">
            @foreach (var product in Model.Beards)
            {
                if (counter != 0 && counter % 3 == 0)
                {
                @:</div>
                @:<div class="row" id="shopping_product_row">
                }
                <div class="col-sm-4" id="shopping_products">
                    <h3>@Html.DisplayFor(productitem => product.Name)</h3>
                    <img src="@Html.DisplayFor(productitem => product.Image)" />
                    <p>Price: $@Html.DisplayFor(productitem => product.Price)</p>
                    <a asp-page="ShoppingDetail" asp-route-id="@product.ID">Details</a>
                </div>
                counter++;
            }
        </div>
    </div>
</body>
</html>


