@page
@model E_Commerce.Pages.Shop.ShoppingModel
@{
    ViewData["Title"] = "Shopping";
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Shopping</title>
    </head>
    <body>
        <h1>Whole Lot</h1>
        @foreach (var product in Products)
        {

        }
    </body>
    </html>


