@model IEnumerable<E_Commerce.Models.BasketItem>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Basket Items</title>
</head>
<body>
    Hello! This is my View Component.
    @foreach (var items in Model)
    {
        <h2>@items.ProductID</h2>
        <p>@items.Quanity</p>
    }
</body>
</html>