@model IEnumerable<E_Commerce.Models.BasketItem>

@{ 
    int counter = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Basket Items</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>


    Items in your Basket:
    <div class="container">
        <div class="row" id="basket_view_component">
            @foreach (var items in Model)
            {
                if (counter != 0 && counter % 3 == 0)
                {
                @:</div>
                @:<div class="row" id="basket_component_row">
                }
                <div class="col-sm-4">
                    <h2>Name: @items.Name</h2>
                    <img src="@items.Image" />
                    <p>Price: @items.Price</p>
                    <p>Quanity: @items.Quanity</p>
                </div>
                counter++;
            }
        </div>
        <a asp-page="/Checkout/BillingDetail">Checkout</a>
    </div>
</body>
</html>