@using Microsoft.AspNetCore.Identity
@using E_Commerce.Models;
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>

@*Home Landing Page*@

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap" rel="stylesheet">
        <link href="~/StyleSheet.css" rel="stylesheet" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <header>

            <nav class="navbar navbar-light sticky-top" id="nav_bar">
                <a id="beardo_container" asp-page="/Views/Home"><img  id="beardo_img" src="~/Assets/beardo.png" /></a>
                <br />
                @if (SignInManager.IsSignedIn(User))
                {
            <div class="loggedIn">
                <div class="container">
                    <div id="weclome_message">
                        Welcome @User.Claims.FirstOrDefault(greet => greet.Type == "FullName").Value
                    </div>
                    <form id="logoutButton" asp-page="/Account/Logout">
                        <button type="submit">Logout</button>
                    </form>
                </div>
            </div>
                <div class="container" id="shopping_container">
                    <div id="shopping_link"><a asp-page="/Shop/Shopping">Store</a></div>
                    <div id="basket_link"><a asp-page="/Baskets/BasketDetail"> Your Basket</a></div>
                </div>
                }
                else
                {
                <div class="container" id="link_container">
                    <div id="login_link"> <a  asp-page="/Account/Login"> Login </a></div>
                    <div id="register_link"> <a  asp-page="/Account/Register"> Register Account </a></div>
                </div>
                }
            </nav>


        </header>
        <div>
            @RenderBody()
        </div>
    </body>
    </html>
