@using Microsoft.AspNetCore.Identity
@using E_Commerce.Models;
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <header>

            @if (SignInManager.IsSignedIn(User))
            {
                <span style="float: right"> Greetings @User.Claims.FirstOrDefault(greet => greet.Type == "FullName").Value</span>
                <form class="form-inline" asp-page="/Account/Logout">
                    <button type="submit" class="nav-link btn btn-link text dark">Logout</button>
                </form>
            }
            else
            {
                <span style="float: right"> <a asp-page="/Account/Register"> Register Account </a> </span>
                <span style="float: right"> <a asp-page="/Account/Login"> Login </a> </span>
            }

        </header>
        <div>
            @RenderBody()
        </div>
    </body>
    </html>
