
@{
    Layout = "_HomePage";
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <h1>Beardability</h1>
        <h3>Your One Stop Shop for Facial Hair Bliss</h3>
    </body>
    </html>
