@page
@model E_Commerce.Pages.Admin.AdminDashboardModel
@{
        Layout = "_AdminLayout";
}
@if (User.IsInRole("Admin"))
{
    <h1>Admin dashboard</h1>
    <ul>
        <li><a asp-page="ProductManager">Manage Products</a></li>
    </ul>
}
else {
    throw new Exception("404 not found");
}
