@page
@model E_Commerce.Pages.Admin.ProductManagerModel
@{
}

@if (User.IsInRole("Admin"))
{
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Product Manager</title>
    </head>
    <body>
        <h1>All Products</h1>
        <a asp-page="ProductDetail">Add New Product</a>
        <div class="container">
            <div >
                @foreach (var product in Model.Products)
                {
                    <div>
                        <h3>@Html.DisplayFor(productitem => product.Name)</h3>
                        <img src="@Html.DisplayFor(productitem => product.Image)" />
                        <p>Price: @Html.DisplayFor(productitem => product.Price)</p>
                        <a asp-page="ProductDetail" asp-route-id="@product.ID">Details</a>
                    </div>
                }
            </div>
        </div>
    </body>
    </html>
}
else
{
    throw new Exception("404 not found");
}