@page
@model E_Commerce.Pages.Account.LoginModel

@{
    Layout = "_AdminLayout";
}



    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Login Page</title>
    </head>
    <body>

        @*<form class="loginForm" method="post">
            <div class="form-group row">
                <label asp-for="Input.Email" for="login_email" class="col-sm-2 col-form-label">Email</label>
                <input asp-for="Input.Email" id="login_email" type="text" class="form-control" placeholder="Email@email.com" />
            </div>
            <div class="form-group row">
                <label asp-for="Input.Password" for="login_pwd" class="col-sm-2 col-form-label">Password</label>
                <input asp-for="Input.Password" id="login_pwd" type="password" class="form-control" placeholder="Password" />
            </div>
            <button type="submit" id="login_button">Login</button>
        </form>*@

        <div class="container">
            <div class="card-deck row" id="login_deck">
                <div class="card mx-auto" style="max-width: 18em" id="login_card">
                    <form class="loginForm" method="post">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" />

                        <label asp-for="Input.Password"></label>
                        <input type="password" asp-for="Input.Password" />

                        <button type="submit" id="login_button">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
    </html>
