@page
@model E_Commerce.Pages.Account.RegisterModel
@{
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Register Page</title>
        <link href="~/StyleSheet.css" rel="stylesheet" />
    </head>
    <body>
            <form class="RegisterForm" method="post">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" />

                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" />

                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" />

                    <label asp-for="Input.DOB"></label>
                    <input asp-for="Input.DOB" />

                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" />

                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" />

                    <label asp-for="Input.PasswordConfirmation"></label>
                    <input asp-for="Input.PasswordConfirmation" />
                    <button type="submit">REGISTER ACCOUNT</button>
            </form>
    </body>
    </html>