@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "_AdminLayout";
}


@if (User.IsInRole("Admin"))
{


    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Admin Dashboard</title>
        <link href="~/StyleSheet.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Welcome Admin</h1>
        <a asp-page="/Admin/AdminDashboard">Update Store</a>
    </body>
</html>

}