body {
    /*background-color: blue;*/
    background-image: url(http://www.sclance.com/backgrounds/old-time-background/old-time-background_1637809.jpg);
    font-family: 'Cabin Sketch', cursive;
}

/*Styling for the Shopping Page*/
#shopping_product_row {
    flex-wrap: nowrap;
}

#shopping_products {
    background-color: hsla(318, 15%, 50%, 0.38);
    border: 1px solid black;
    border-radius: 5px;
    margin: .5em;
    padding: 0;
    text-align: center;
}

/*Styling for the Shopping Detail Page*/
#detail_product_deck {
    text-align: center;
}

#detail_product {
    background-color: hsla(318, 15%, 50%, 0.38);
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

/*Styling for the Basket Landing Page*/
#shopping_basket_row {
    flex-wrap: nowrap;
}

#shopping_basket {
    background-color: hsla(318, 15%, 50%, 0.38);
    border: 1px solid black;
    border-radius: 5px;
    margin: .5em;
    padding: 0;
    text-align: center;
}

/*Styling for Login Page*/
#login_card {
    text-align: center;
    align-items: center;
    margin-top: 10em;
    padding: 2em;
    background-color: hsla(0, 32%, 50%, 0.77);
}

/*Styling for Register Page*/
#register_card {
    text-align: center;
    align-items: center;
    margin-top: 2.5em;
    padding: 2em;
    background-color: hsla(0, 32%, 50%, 0.77);
}





.loginTags {
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    display: inline-grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
}

.loggedIn {
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
}

#logoutButton{
    grid-column: 2/3;
    grid-row: 2;
}

.RegisterForm {
    display: grid;
    margin: 0;
    width: 200px;
}

.loginForm {
    display: grid;
    margin: 0;
    width: 200px;
}




