/*General Styling across all pages*/
body {
    background-image: url(http://www.sclance.com/backgrounds/old-time-background/old-time-background_1637809.jpg);
    font-family: 'Cabin Sketch', cursive;
}

h1 {
    text-align:center;
    margin-top: .5em;
}

#weclome_message {
    font-size: 2em;
}

#logoutButton {
    float: right;
}

.RegisterForm {
    display: grid;
    margin: 0;
    width: 200px;
}

.loginForm {
    display: grid;
    margin: 0;
    width: 200px;
}

#beardo_container {

}

#beardo_img {
    width: 30%;
    position: relative;
    margin-left: 56%;
}

#link_container {
    padding-left:0;
    padding-right:0;
    margin-left:0;
    margin-right:0;
}
#login_link {
    position:absolute;
    font-size: 1.25em;
    padding-bottom: 1em;
}

#register_link {
    position: absolute;
    margin-left: 80%;
    font-size: 1.25em;
    padding-bottom: 1em;
}

#shopping_container {
    position:absolute;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    justify-content:flex-start;
    display:inline-grid;
    grid-template-rows: 1fr, 1fr;
}

#nav_bar {
    background-color: hsla(272, 14%, 27%, 0.38);
    border-bottom: .1em solid black;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(10,61,148,.6);
    -moz-box-shadow: 0px 5px 5px 0px rgba(10,61,148,.6);
    box-shadow: 0px 5px 5px 0px rgba(10,61,148,.6);
}

a {
    color: black;
    font-size: 1.5em;
}

a:visited {
    color: black;
}

a:hover {
    color: seagreen;
    font-family:'Cabin Sketch', cursive;
}



/*Styling for the Shopping Page*/
#shopping_product_row {
    flex-wrap: nowrap;
}

#shopping_products {
    background-color: hsla(318, 15%, 100%, 0.3);
    border: 1px solid black;
    border-radius: 5px;
    margin: .5em;
    padding: 0;
    text-align: center;
    -webkit-box-shadow: 0px 5px 5px 1px rgba(10,61,148,.6);
    -moz-box-shadow: 0px 5px 5px 1px rgba(10,61,148,.6);
    box-shadow: 0px 5px 5px 1px rgba(10,61,148,.6);
}

#shopping_products:hover {
    background-color: hsla(272, 14%, 27%, 0.38);
}


/*Styling for the Shopping Detail Page*/
#detail_product_deck {
    text-align: center;
}

#detail_product {
    background-color: hsla(318, 15%, 100%, 0.3);
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin-top: 5em;
    -webkit-box-shadow: 0px 5px 5px 1px rgba(10,61,148,.6);
    -moz-box-shadow: 0px 5px 5px 1px rgba(10,61,148,.6);
    box-shadow: 0px 5px 5px 1px rgba(10,61,148,.6);
}

/*Styling for the Basket Landing Page*/
#shopping_basket_row {
    flex-wrap: nowrap;
}

#shopping_basket {
    background-color: hsla(318, 15%, 100%, 0.3);
    border: 1px solid black;
    border-radius: 5px;
    margin: .5em;
    padding: 0;
    text-align: center;
    -webkit-box-shadow: 0px 5px 5px 1px rgba(10,61,148,.6);
    -moz-box-shadow: 0px 5px 5px 1px rgba(10,61,148,.6);
    box-shadow: 0px 5px 5px 1px rgba(10,61,148,.6);
}

#shopping_basket:hover {
    background-color: hsla(272, 14%, 27%, 0.38);
}

    /*Styling for Receipt Page*/
    #receipt_deck {
        text-align: center;
    }

#receipt_card {
    background-color: hsla(318, 15%, 100%, 0.3);
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin-top: 5em;
}


/*Styling for Login Page*/
#login_card {
    font-size: 1.25em;
    text-align: center;
    align-items: center;
    margin-top: 10em;
    padding: 2em;
    background-color: hsla(318, 15%, 100%, 0.3);
}

#login_button {
    margin-top: 1em;
}

/*Styling for Register Page*/
#register_card {
    font-size: 1.25em;
    text-align: center;
    align-items: center;
    margin-top: 2.5em;
    padding: 2em;
    background-color: hsla(318, 15%, 100%, 0.3);
}

#register_button {
    margin-top: 1em;
}




